@model Entities.Models.Produto

    <center><h1>Compra Negada</h1></center>

    <div>
        <center><h4>@Model.Name</h4></center>
        <hr />

        <h5>Venda do produto negada com Sucesso! </h5>
        <h5>Lembrando que você perderá reputação e seu anúncio ficará bloqueado</h5>
        <h5>Crie um novo anúncio caso queira vender esse produto novamente</h5>
        <hr />
        <a asp-action="Create" class="btn btn-danger text-warning">Criar um novo anúncio</a>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataEntrada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataEntrada)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataVenda)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataVenda)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomeComprador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeComprador)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EnderecoComprador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EnderecoComprador)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Categoria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Categoria.Name)
            </dd>
        </dl>
    </div>

<div>
    <a asp-action="Index" class="btn btn-danger text-warning">Voltar</a>
</div>